html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    color: #333333;
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.container {
    margin: 0 auto;
    width: 920px;
}

#header {
    border-bottom: 1px solid #cacaca;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}

#header .heading {
    position: relative;
    float: left;
    padding: 9px 0 0;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16pt;
}

#menu {
    float: right;
    line-height: 20px;
    padding: 7px 0;
}

#menu ul {
    float: left;
    list-style: none outside none;
    margin: 2px 0 0 20px;
    padding: 0;
}

#menu ul li:first-child {
    margin: 0 5px 0 0;
}

#menu ul li {
    float: left;
    position: relative;
    margin: 0 0 0 10px;
}

ul.ontologies {
    padding-top: 8px;
    margin: 0 0 0 5px;
}

ul.ontologies > li, ul.resources > li {
    border: medium none;
    border-radius: 0 0 0 0;
    position: relative;
    list-style-type: none;
    margin: 0 0 10px;
    overflow: hidden;
}

ul.ontologies h3 {
    font-size: 20px;
    height: 32px;
    letter-spacing: -1px;
    line-height: 32px;
    margin-bottom: 1px;
}

ul.ontologies h3 a {
    display: inline-block;
    line-height: 32px;
    position: relative;
    top: -5px;
}

.metabox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FAFAFA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #DDDDDD #DDDDDD #DDDDDD;
    border-image: none;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}

.metabox .ontology-description p {
    color: #666666;
    font-weight: 300;
}
.metabox p {
    font-size: 13px;
    margin: 0;
}

.bubble {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
}

.properties {
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
    margin: 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font: inherit;
}

.properties th {
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #D8D8D8;
    color: #555555;
    font-weight: bold;
    padding: 6px 3px;
    text-align: left;
    text-shadow: 0 1px 0 #FFFFFF;
}

.properties th:first-child {
    padding-left: 10px;
}

/*
.properties tr:hover {
    background: -moz-linear-gradient(#599BDC, #3072B3) repeat scroll 0 0 transparent;
    border-color: #518CC6 #518CC6 #2A65A0;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
*/

.properties tr {
    background: none repeat scroll 0 0 #F8F8F8;
    color: #484848;
}

.properties tr.removed {
    background: none repeat scroll 0 0 #FFDDDD;
}

.properties tr.added {
    background: none repeat scroll 0 0 #DDFFDD;
}

.properties td:hover {
    //cursor: pointer;
}

.properties td:first-child {
    padding-left: 10px;
}

.properties td {
    border-bottom: 1px solid #EEEEEE;
    padding: 7px 3px;
    vertical-align: middle;
}

.properties tbody > tr:not(:first-child) > td.property > span {
    display: none;
}

.properties td.options {
    padding-left: 10px;
    max-width: 74px;
}

.properties td.options li {
    position: relative;
    list-style-type: none;
    text-align: center;
    float: left;
}

button#addpredicate {
    float: left;
}

button#submitchanges, button#submitresource  {
    float: right;
}

button#resetchanges {
    float: right;
    margin-right: 10px;
}

.hideme {
    visibility: hidden !important;
}

.reallyhideme {
    visibility: hidden !important;
    display: none !important;
}

.properties td.options button, .properties td.options span.edit {
    width: 20px;
}

.properties tbody > tr > td.options > ul > li.add {
    display: none;
}

.properties tbody > tr:last-child > td.options > ul > li.add {
    display: block;
}

td.value {
    width: 50%;
}

td.value > div.select2-container, td.property > div.select2-container {
    width: 100%;
}

td.value > textarea {
    resize:vertical;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
    padding: 2px;
    width: 100%;
    height: auto;
}

.properties tbody > tr:first-child .property {
    visibility: visible;
}

.properties .property {
    vertical-align: top;
    visibility: hidden;
}

#properties tbody.options td {
   // background: -moz-linear-gradient(#F8F8F8, #EAEAEA) repeat scroll 0 0 transparent;
}

#source {
    display: none;
}

#proposals {
    display: none;
}

#history {
    display: none;
}

#source textarea {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    display: block;
    min-height: 500px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    width: 100%;
}

#source > div {
    padding: 5px;
}

#login_form {
    background-color: #E9F1F4;
    border-color: #D8DEE2 #D8DEE2 #D8DEE2 #D8DEE2;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    overflow: hidden;
    padding: 1em 2em 1em 2em;
    margin: 5em auto;
    width: 25em;
}

#error_box {
    background: none repeat scroll 0 center #FFEBE8;
    border: 1px solid #DD3C10;
    font-weight: bold;
    padding: 1em;
}

#login_form > form > p { 
    padding: 1em; 
}

#login_form > form > div {
    padding-left: 1em;
}

#submission_dialog button {
    float:right;
    margin-left: 10px;
}

#submission_dialog {
    top: 25%;
    left: 25%;
    position: absolute;
    margin: 0 auto;
    float: left;
    width: 50%;
    background-color: #FFFFFF;
}

#submission_dialog textarea {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    display: block;
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#comments {
    margin-top: 10px;
}

h3.changeset-heading {
    background: none repeat scroll 0 0 #E6F1F6;
    border: 1px solid #C5D5DD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #3A505B;
    font-size: 13px;
    font-weight: normal;
    margin: 15px 0 0;
    padding: 5px 8px;
    text-shadow: 0 1px white;
}

div.changeset-comment {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F7FBFC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: -moz-use-text-color #C5D5DD #C5D5DD;
    border-image: none;
    border-right: 1px solid #C5D5DD;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: 0 0 5px;
    padding: 5px 8px;
}

div.changeset-details {
    margin: 5px 10px;
}

table.changeset-changes {
    border: 1px solid #CCCCCC;
    margin-bottom: 23px;
    position: relative;
    width: 100%;
}

table.changeset-changes td {
    padding: 5px 10px;
}

table.changeset-changes .addition {
    background: none repeat scroll 0 0 #DDFFDD;
}

table.changeset-changes .removal {
    background: none repeat scroll 0 0 #FFDDDD;
}

table.changeset-changes .tools {
    border-top: 1px solid #CCCCCC;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
}

table.changeset-changes button {
    float: right;
    margin-left: 10px;
}

.toolbar button {
}

.toolbar li {
    float: right;
    position: relative;
    display: block;
}

.toolbar ul {
    list-style: none outside none;
}

.toolbar {
    margin-bottom: 10px;
}

.errornote {
    display: none;
}

.error {
    color: red !important;
}

.error .errornote {
    display: block;
}

/* TODO: clean this shit up! */
input[type=text].object, #resuri input {
    // background: none repeat scroll 0 0 transparent !important;
    -moz-box-sizing: border-box; /* firefox */
    -ms-box-sizing: border-box;     /* ie */
    -webkit-box-sizing: border-box; /* webkit */
    -khtml-box-sizing: border-box;  /* konqueror */
    box-sizing: border-box;         /* css3 */
    border: 0 none;
    box-shadow: none;
    color: #666666;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    margin: 1px 0;
    outline: 0 none;
    padding: 5px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #aaa;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 8px;
    color: #444;
    text-decoration: none; 
    background: #fff  no-repeat 100% -22px;
    background:  no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background:  no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background:  no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background:  no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em;
    width:100%;
    margin:0;
    height:auto !important;
    min-height: 26px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

textarea.object {
    resize:vertical;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #aaa;
    border-radius: 3px 3px 3px 3px;
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
    padding: 2px;
    width: 100%;
    height: 50px; 
}

ul.tools, ul.tools > li {
    list-style: none;
    float: right;
    padding-right: 5px;
}

#resuri input {
    width: 96%;
    display: inline;
}

td.property div {
}

td.property div + div, td.value div + div {
    font-size: 10px;
    float: left;
    padding-right: 10px;
}
td.property div + div + div, td.value div + div + div {
    // display: none;
    float: left;

}

/* below this line is old stuff, maybe remove it! */

#query { 
    padding: 10px; 
    display: inline-block;
}

a { 
    color: #335599;
}

h1 { 
    font-size: 1.5em;
}
h2 { 
    font-size: 1.2em;
}
h3 { 
	font-size: 1em;
}

h1 .url {
    display: block; 
    font-size: 0.5em;
    color: #aaa;
}



.comment { 
    padding: 5px; 
    padding-left: 10px;
    color: #555;
    background: #fafafa; 
    border: 1px solid #eee;
    margin-left: 10px; 
    margin-right: auto;
    margin-top: 10px;
    width: 650px;
}

#versions { 
    font-size: 0.7em;
}

hr { 
    border-color: #ddd;
}

#versions, #footer { color: #555; }
#versions a, #footer a { color: #6285cb; }
#footer img { height: 16px; }

.inlinelist ul li { 
    float: left; 
    display: block; 
    margin-left: 5px;
}

