<tr>
  <td class="property base">
    <div class="label"></div>
    <div class="qname"></div>
    <div class="uri"></div>
    <textarea></textarea>
    <ul class="search-results reallyhideme"></ul>
    <ul class="options left">
      <li class="change"><a href="#">change</a></li>
    </ul>
    <ul class="options right">
      <li class="cancel"><a href="#">cancel</a></li>
      <li class="done"><a href="#">done</a></li>
    </ul>
  </td>
  <td class="value base">
    <div class="label"></div>
    <div class="qname"></div>
    <div class="uri"></div>
    <textarea></textarea>
    <ul class="search-results reallyhideme"></ul>
    <ul class="options left">
      <li class="change"><a href="#">change</a></li>
      <li class="reset"><a href="#">reset</a></li>
      <li class="search"><a href="#">search</a></li>
      <li class="literal"><a href="#">literal</a></li>
      <!-- li class="manual"><a href="#">manual</a></li -->
    </ul>
    <ul class="options right">
      <li class="delete"><a href="#">delete</a></li>
      <li class="add"><a href="#">add</a></li>
      <li class="cancel"><a href="#">cancel</a></li>
      <li class="done"><a href="#">done</a></li>
    </ul>
  </td>
  <!--
  <td class="options">
    <ul>
      <li class="remove"><button class="remove"  title="remove value">x</button></li>
      <li class="add"><button class="add" title="add new value">+</button></li>
    </ul>
  </td>
  -->
</tr>
